<style>
    .nav-item {

        margin-top: 7px;
        font-size: 15px; /* Adjust font size */
    }
    
</style>

<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <div class="d-flex justify-content-end w-100">
            <form class="d-flex" role="search">
                <div class="input-group">
                    <span class="input-group-text">
                        <img src="https://cdn-icons-png.flaticon.com/128/622/622669.png" alt="Search Icon" style="width: 20px; height: 20px;">
                    </span>
                    <input class="form-control me-2" type="search" placeholder="Formlarda ara" aria-label="Search"> 
                </div>      
            </form>
        </div>
    </div>
</nav>


<div class="d-flex justify-content-start col-2 container-border" style="background-color: rgb(245, 239, 239);" >

    <div ngbNav #nav="ngbNav" class="nav-pills flex-column" orientation="vertical">
        <!-- Button for "Form Oluştur" -->
        <button ngbNavItem="createForm" ngbNavLink style="font-size: 16px;  margin-bottom: 10px; margin-left: 14px; margin-right: 18px; background-color: blue; color: white;">
            Form Oluştur
        </button>
        <!-- Content for "Form Oluştur" -->
        <ng-template ngbNavContent>
            <!-- Content for "Form Oluştur" tab -->
        </ng-template>
        
        <ng-container ngbNavItem="first" style="margin-bottom: 10px;">
            <button ngbNavLink class="text-start" style="font-size: 18px;">
                <img src="https://cdn-icons-png.flaticon.com/128/9316/9316720.png" alt="Favorites Icon" style="width: 14px; height: 14px;">
                Formlarım
            </button>
            <ng-template ngbNavContent>
                <!-- Content for first tab -->
            </ng-template>
        </ng-container>
        <ng-container ngbNavItem="second" style="margin-bottom: 10px;">
            <button ngbNavLink class="text-start" style="font-size: 16px;">Şablonlar</button>
            <ng-template ngbNavContent>
                <!-- Content for second tab -->
            </ng-template>
        </ng-container>
        <ng-container ngbNavItem="third" style="margin-bottom: 10px;">
            <button ngbNavLink class="text-start" style="font-size: 16px;">Bana Gönderilenler</button>
            <ng-template ngbNavContent>
                <!-- Content for third tab -->
            </ng-template>
        </ng-container>
    
        <!-- List items as nav items -->
        <ng-container ngbNavItem="favorites" style="margin-bottom: 10px;">
            <button ngbNavLink class="text-start" style="font-size: 16px;">
                <img src="https://cdn-icons-png.flaticon.com/128/1828/1828884.png" alt="Favorites Icon" style="width: 14px; height: 14px;">
                Favoriler
            </button>
            <ng-template ngbNavContent>
                <!-- Content for "Favoriler" tab -->
            </ng-template>
        </ng-container>
        <ng-container ngbNavItem="archive" style="margin-bottom: 10px;">
            <button ngbNavLink class="text-start" style="font-size: 16px;">
                <img src="https://cdn-icons-png.flaticon.com/128/263/263122.png" alt="Archive Icon" style="width: 14px; height: 14px;">
                Arşiv
            </button>
            <ng-template ngbNavContent>
                <!-- Content for "Taslaklar" tab -->
            </ng-template>
        </ng-container>
        <ng-container ngbNavItem="trash" style="margin-bottom: 10px;">
            <button ngbNavLink class="text-start" style="font-size: 16px;">
                <img src="https://cdn-icons-png.flaticon.com/128/13486/13486797.png" alt="Archive Icon" style="width: 14px; height: 14px;">
                Çöp Kutusu
            </button>
            <ng-template ngbNavContent>
                <!-- Content for "Çöp Kutusu" tab -->
            </ng-template>
        </ng-container>
    </div>

    <div [ngbNavOutlet]="nav" class="ms-4"></div>
</div>
