
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <div class="d-flex justify-content-end w-100">
            <form class="d-flex" role="search">
                <div class="input-group">
                    <span class="input-group-text">
                        <img src="https://cdn-icons-png.flaticon.com/128/622/622669.png" alt="Search Icon" style="width: 20px; height: 20px;">
                    </span>
                    <input class="form-control me-2" type="search" placeholder="Formlarda ara" aria-label="Search"> 
                </div>      
            </form>
        </div>
    </div>
</nav>

<nav id="sidebarMenu">

    <div class="d-flex justify-content-start col-3 container-border"> 

        <div class="position-sticky">
            <div class="list-group list-group-flush mx-3 mt-4">

              <a class="list-group-item list-group-item-action py-3"> 
                <span>Form Oluştur</span>
              </a>

              <a class="list-group-item list-group-item-action py-3 "> 
                <span>Formlarım</span>
              </a>

              <a class="list-group-item list-group-item-action py-3" (click)="navigateToTemplate()"> 
                <span>Şablonlar</span>
              </a>

              <a class="list-group-item list-group-item-action py-3"> 
                <span>Bana gönderilenler</span>
              </a>

              <a class="list-group-item list-group-item-action py-3"> 
                <span>Favoriler</span>
              </a>

              <a class="list-group-item list-group-item-action py-3"> 
                <span>Arşiv</span>
              </a>

              <a class="list-group-item list-group-item-action py-3"> 
                <span>Çöp kutusu</span>
              </a>

            </div>
          </div>
    
    </div>

</nav>





