<div>
  <!-- First Line: Title and Description -->
  <header class="d-flex flex-wrap justify-content-center align-items-center py-3">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <span class="fs-2 text-center"><b>FlowOps </b>{{'PROJECT_DESCRIPTION'|translate}}</span>
    </a>
    <ul class="nav nav-pills">
      <li class="nav-item"><a (click)="navigateToLogin()" class="nav-link">{{'LOGIN' | translate}}</a></li>
      <li class="nav-item"><a (click)="navigateToRegister()" class="nav-link">{{'REGISTER' | translate}}</a></li>
      <li class="nav-item">
        <!-- Language Dropdown -->
        <div ngbDropdown class="d-inline-block">
          <button type="button" class="btn btn-sm btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
            {{'LANGUAGE' | translate}}
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem (click)="switchToEN()">English - EN</button>
            <button ngbDropdownItem (click)="switchToTR()">Türkçe - TR</button>
          </div>
        </div>
      </li>
      
    </ul>
    
    <!-- Dark Mode Toggle -->
    <div style="margin-right: 1%;">
      <sub id=themeText >{{'DARK_THEME_TEXT' | translate}}</sub>
      <label class="switch">
        <input style="display: none;" type="checkbox" (change)="toggleTheme()" [checked]="isDarkMode()" />
        <span class="slider"></span>
      </label>
    </div>
    
  </header>
</div>

