
 
  
    <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card" (click)="navigateToVacationRequestForm()">
              <div class="card-body">
                <h1 class="card-title">Tatil İzin Formu</h1>
                <p class="card-text">Çalışan için tatil izin formu</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" (click)="navigateToAnnualLeaveForm()">
              <div class="card-body">
                <h1 class="card-title">Yıllık İzin Formu</h1>
                <p class="card-text">Çalışan için yıllık izin formu.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" (click)="navigateToResignationForm()">
              <div class="card-body">
                <h1 class="card-title">İstifa Formu</h1>
                <p class="card-text">İstifa formu.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-4">
            <div class="card" (click)="navigateToEmployeeMotivationForm()">
              <div class="card-body">
                <h1 class="card-title">Çalışan Motivasyon Formu</h1>
                <p class="card-text">Çalışan için motivasyon formu</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" (click)="navigateToDestination()">
              <div class="card-body">
                <h5 class="card-title">Card 5</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" (click)="navigateToDestination()">
              <div class="card-body">
                <h5 class="card-title">Card 6</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
