
  <div class="card" (click)="navigateToDestination()">
    
    <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card" (click)="navigateToDestination()">
              <div class="card-body">
                <h5 class="card-title">Card 1</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" (click)="navigateToAnnualLeaveForm()">
              <div class="card-body">
                <h1 class="card-title">Yıllık İzin Formu</h1>
                <p class="card-text">Şirket içi yıllık izin belgesi.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" (click)="navigateToDestination()">
              <div class="card-body">
                <h5 class="card-title">Card 3</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-4">
            <div class="card" (click)="navigateToDestination()">
              <div class="card-body">
                <h5 class="card-title">Card 4</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" (click)="navigateToDestination()">
              <div class="card-body">
                <h5 class="card-title">Card 5</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" (click)="navigateToDestination()">
              <div class="card-body">
                <h5 class="card-title">Card 6</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
        </div>
      </div>


  </div>