<ngb-carousel *ngIf="photos.length > 0" class="custom-carousel">
    <ng-template ngbSlide *ngFor="let photo of photos">
      <img [src]="photo" alt="Slide" class="carousel-image">
    </ng-template>
  </ngb-carousel>

  <div class="pricing6 py-5 bg-light">
    <div class="container"> 
      <div class="row justify-content-center">
        <div class="col-md-8 text-center">
          <h3 class="mb-3">Hizmet Planları</h3>
          
        </div>
      </div>
      <!-- row  -->
      <div class="row mt-4">
    
        <!-- column  -->
        <div class="col-md-6">
          <div class="card card-shadow border-0 mb-4">
            <div class="card-body p-4">
              <div class="d-flex align-items-center">
                <h5 class="font-weight-medium mb-0">Basit Plan</h5>
                <div class="ml-auto"><span class="badge badge-danger font-weight-normal p-2">Popüler</span></div>
              </div>
              <div class="row">
                <div class="col-lg-5 text-center">
                  <div class="price-box my-3">
                    <sup>$</sup><span class="text-dark display-5">10</span>
                    <h6 class="font-weight-light">AYLIK</h6>
                    <a class="btn btn-info-gradiant font-14 border-0 text-white p-3 btn-block mt-3" href="#">PLANI SEÇ</a>
                  </div>
                </div>
                <div class="col-lg-7 align-self-center">
                  <ul class="list-inline pl-3 font-14 font-weight-medium text-dark">
                    <li class="py-2"><i class="icon-check text-info mr-2"></i> <span>Ara sıra yardım</span></li>
                    <li class="py-2"><i class="icon-check text-info mr-2"></i> <span>Temel Şablonlar</span></li>
                    
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card card-shadow border-0 mb-4">
            <div class="card-body p-4">
              <div class="d-flex align-items-center">
                <h5 class="font-weight-medium mb-0">Basit Plan</h5>
                
              </div>
              <div class="row">
                <div class="col-lg-5 text-center">
                  <div class="price-box my-3">
                    <sup>$</sup><span class="text-dark display-5">50</span>
                    <h6 class="font-weight-light">AYLIK</h6>
                    <a class="btn btn-info-gradiant font-14 border-0 text-white p-3 btn-block mt-3" href="#">PLANI SEÇ</a>
                  </div>
                </div>
                <div class="col-lg-7 align-self-center">
                  <ul class="list-inline pl-3 font-14 font-weight-medium text-dark">
                    <li class="py-2"><i class="icon-check text-info mr-2"></i> <span>7/24 Yardım</span></li>
                    <li class="py-2"><i class="icon-check text-info mr-2"></i> <span>Temel + Ekstra şablonlar</span></li>
                    
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>


        <!-- column  -->
        <!-- column  -->

        
        <!-- column  -->
      </div>
    </div>
  </div>