<div class="container-sm">
    <div class="mb-2"> <!-- Adjusted margin for smaller spacing -->
      <label for="İsimSoyisimInput" class="form-label">{{ 'FULL_NAME' | translate }}</label>
      <input type="input" class="form-control form-control-sm" id="İsimSoyisimInput"> <!-- Added 'form-control-sm' class for smaller input -->
    </div>
    <div class="mb-2">
      <label for="EmailAddressInput"  class="form-label">{{ 'EMAIL_ADDRESS' | translate }}</label>
      <input type="input" class="form-control form-control-sm" id="EmailAddressInput">
    </div>
    <div class="mb-2">
      <label for="İzinGerekçesiInput" class="form-label">{{ 'REASON_FOR_LEAVE' | translate }}</label>
      <input type="input" class="form-control form-control-sm" id="exampleFormControlInput1">
    </div>
    <div class="mb-2">
      <label for="dateRangePicker" class="form-label">{{ 'PERMISSION_RANGE' | translate }}</label>
      <input type="text" class="form-control form-control-sm" ngxDaterangepickerMd />
    </div>
    <div class="mb-2">
      <button type="button" class="btn btn-primary btn-sm">{{ 'SUBMIT' | translate }}</button> <!-- Added 'btn-sm' class for smaller button -->
    </div>
  </div>